.margin{
    margin-top: 4%;
}
.card img {
    padding-top: 30px;
    width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px grey

}
.image-size img{
    height: 100%;
    width: 100%;
}
.under-line{
    margin-top: 5%; 
}
span.color-bar {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to left, #FF9C35, #FFD019);
}
.bg-color{
    margin-top: 5%;
    height: 150px;
    background-color: #cfbb09;
    border-radius: 10px;
}
footer{
    margin-top: 10%;
    text-align: center;
}
.carrousel-margin{
    margin-top: 12%;
}